.root {
    height: 500px;
    overflow: hidden;
    padding: 40px 0;
    display: flex;
    align-content: space-between;
    flex-direction: column;
}
.messenger_chatlist {
    width: 35%;
    height: 100vh;
    background: #c1c1c1;
}
.paper {
    padding: 5px;
    margin: 4px 0;
}