body{
    background-color: #f1f1f1;
    color: #333;
}
.root{
    margin: 0 40px;
}
.App.messenger_bl {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2b6d8b; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #8dd23c; 
  }