.content {
	padding: 30px;
    font-size: 12px;
}
.messenger_chat {
    height: 425px;
}
.messenger_dialog {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    padding: 40px 15px;
    justify-content: flex-start;
    align-items: stretch;
}
.recepient, .sender {
    margin: 5px 0;
}
.recepient {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}
.sender {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}
.recepient .content {
    padding: 10px 25px;
    background: #333;
    color: #fff;
    margin: 0 20px;
    border-radius: 20px;
}
.sender .content {
    padding: 10px 25px;
    background: #564697;
    color: #fff;
    margin: 0 20px;
    border-radius: 20px;
}