.content {
	padding: 30px;
}
.messenger_chat {
    width: 900px;
    height: 600px;
}
.messenger_dialog {
    height: 450px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    padding: 40px 60px;
    justify-content: flex-start;
    align-items: stretch;
}
.messenger_form {
    padding: 0 20px;
}
.recepient, .sender {
    margin: 5px 0;
}
.recepient {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}
.sender {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}
.recepient .content {
    padding: 10px 25px;
    background: #fff;
    margin: 0 20px;
    border-radius: 20px;
}
.sender .content {
    padding: 10px 25px;
    background: #4ab6e7;
    color: #fff;
    margin: 0 20px;
    border-radius: 20px;
}